body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  background-image:url('clouds.gif');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.daily-details-grid {
  background-color: azure!important;
  border-radius: 1.4em!important;
}
.weather {
  background-color: turquoise!important;
}